<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.estate.mapper.TradeMasterMapper">
    <select id="aggregateByCity" resultType="hashMap">
        SELECT STRAIGHT_JOIN    CC.*
                           , 	AVG(AMOUNT) AS AMOUNT_AVG
                           , 	COUNT(*) AS TRADE_COUNT
        FROM 		CITY_CODE CC
        INNER JOIN 	TRADE_MASTER TM ON CC.REGION_CD = TM.REGION_CD
        WHERE 	    CD_TYPE = #{type}
        AND 	    CC.LATITUDE BETWEEN #{naverMapDto.southLat} AND #{naverMapDto.northLat}
        AND 	    CC.LONGITUDE BETWEEN #{naverMapDto.westLong} AND #{naverMapDto.eastLong}
        GROUP BY 	CC.REGION_CD
        ORDER BY 	NULL
    </select>
</mapper>