<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.estate.mapper.TradeMasterMapper">
    <select id="aggregateByCity" resultType="hashMap">
        SELECT 		CC.COD_ID
                 ,  CC.CD_TYPE
                 ,  CC.CD_NAME
                 ,  CC.REGION_CD
                 ,  CC.SIGUNGU_CD
                 ,  CC.UMD_CD
                 ,  CC.FULLNAME
                 ,  CC.LONGITUDE
                 ,  CC.LATITUDE
                 , 	AVG(AMOUNT) AS AMOUNT_AVG
                 , 	COUNT(*) AS TRADE_COUNT
        FROM 		TRADE_MASTER TM
        INNER JOIN (
            SELECT 	*
            FROM 	CITY_CODE
            WHERE 	CD_TYPE = #{type}
            AND 	LATITUDE BETWEEN #{naverMapDto.southLat} AND #{naverMapDto.northLat}
            AND 	LONGITUDE BETWEEN #{naverMapDto.westLong} AND #{naverMapDto.eastLong}
        ) CC ON	    TM.REGION_CD = CC.REGION_CD
        GROUP BY    TM.REGION_CD
    </select>
</mapper>